.popup__heading {
  margin: 0;
  padding: 0;
  font-size: 24px;
  font-weight: 900;
  line-height: 29px;
  color: #000000;
}

@media (max-width: 767px) {
  .popup__heading {
    font-size: 18px;
    line-height: 22px;
  }
}
