.profile__info {
  position: relative;
  display: grid;
  grid-template-columns: min-content min-content;
  gap: 16px 18px;
  grid-template-areas:
    "heading button"
    "description .";
}

@media (max-width: 1023px) {
  .profile__info {
    gap: 10px 10px;
  }
}
@media (max-width: 767px) {
  .profile__info {
    padding: 25px 0 33px 20px;
    justify-content: center;
  }
}
