.header {
  padding: 45px 0 40px;
  width: 100%;
  max-width: 880px;
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  border-bottom: 1px solid rgba(84, 84, 84, 0.7);
}

@media (max-width: 1023px) {
  .header {
    padding: 29px 0 29px;
  }
}
