.profile__info {
  position: relative;
  display: grid;
  grid-template-columns: max-content auto;
  gap: 16px 18px;
  grid-template-areas:
    "heading button"
    "description .";
}

@media (max-width: 1023px) {
  .profile__info {
    gap: 14px 10px;
  }
}
@media (max-width: 767px) {
  .profile__info {
    padding: 26px 0 36px;
  }
}
