.popup__input-form {
  margin: 0;
  padding-top: 54px;
  width: 100%;
  display: flex;
  flex-direction: column;
  row-gap: 35px;
}

@media (max-width: 767px) {
  .popup__input-form {
    padding-top: 75px;
  }
}
